<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Rocket Racoon Stories</title>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
</head>

<body>
  <div class="container">

    <header class="page-header">
      <h1>Rocket Racoon Stories!</h1>
      <p class="lead">Meet some stories involving this cute and killer creature.</p>
    </header>

    <section class="row row-eq-height">
      <div class="col-sm-6">
        <div id="1010744">
          <img src="{{ url_for('static', filename='imgs/characters/1010744.jpg')}}" width="100%"/>
        </div>
      </div>
      <div class="col-sm-6">
        <h2 id="title">{{ storyTitle }}</h2>
        <p id="description">{{ storyDescription }}</p>
        <div id="unlisted" class="">
          <h3>Characters</h3>
          <ul>
            {% for c in characters if c.characterId != 1010744 %}
            <li class="startpopover" data-id="{{c.characterId}}" title="{{c.characterName}}">
              {{c.characterName}}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="hidden">
        {% for c in characters if c.characterId != 1010744 %}
        <div id="{{c.characterId}}">
          <img src="{{url_for('static', filename=c.characterImage)}}" width="100%" />
        </div>
        {% endfor %}
      </div>
    </section>
    <!-- Footer -->
    <footer class="page-footer font-small">
      <!-- Copyright -->
      <div class="navbar-fixed-bottom footer-copyright text-center py-3" id="copyright">
        {{ copyright|safe }}
        <!-- a href=\"http://marvel.com\">Data provided by Marvel. © 2019 MARVEL</a -->
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/fillpage.js') }}"></script>
</body>

</html>